@import url('https://fonts.googleapis.com/css?family=Ubuntu|Ubuntu+Mono|Volkhov');

/* ---------------------------------------------------- Elements ---------------------------------------------------- */

body {
    background-color: #12263a;
    font-family: 'Ubuntu', Tahoma, sans-serif;
    color: #eef4fa;
    text-align: center;
}

/* ------------------------------------------------------ IDs ------------------------------------------------------- */
/* ---------------------------------------------------- Classes ----------------------------------------------------- */